.promptArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*gap: 20px;*/
    /*width: 100%;*/
}

.textareaPrompt{
    background-color: transparent;
    width: 100%;
    max-height: 150px;
    border: 2px solid #8cbece;
    border-radius: 15px;
    color: #f9a774;
    resize: none;
    padding: 10px 0;
}

.buttonPrompt {
    background-color: #8cbece;
    color: #fff;
    margin-top: 5px;
}

.buttonPrompt:hover {
    background-color: #a4d2e1;
    color: #ffffff;
}

.loader {
    width: 64px;
    height: 64px;
    position: relative;
    background: #fff;
    border-radius: 50%;
    transform: rotate(45deg);
    animation: rotate 2s linear infinite;
}
.loader:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 15px;
    height: 30px;
    background: #f9a774;
    transform: skew(5deg , 60deg) translate(-50%, -5%);
}

.loader:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #FFF;
    transform:translate(-50% , -50%);
}

@keyframes rotate {
    0% { transform: rotate(45deg)}
    30% , 50% , 70%  { transform: rotate(230deg)}
    40% , 60% , 80% { transform: rotate(240deg)}
    100% {  transform: rotate(245deg)}
}
